# Ignore Terraform local state files
*.tfstate
*.tfstate.*

# Ignore directories containing local Terraform files
.terraform/

# Ignore dependency lock files
*.lock.hcl

# Ignore sensitive variable input files (tfvars)
.idea
modules/aws_provider_module.tf
